$font-kaushan: 'Kaushan Script', cursive;
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$color-white: #fff;
$color-black: #000;
$color-black-transparent: rgba($color-black, 0.2);
$color-pink: rgb(243, 129, 129);
$color-yellow: rgb(252, 227, 138);
$color-grey: rgb(153, 153, 153);
$color-black-special: rgb(51, 51, 51);
$color-cyan: rgb(149, 225, 211);
$color-white-transparent1: rgba($color-white, 0.302);
$color-white-transparent2: rgba($color-white, 0.8);
$color-grey-separator: rgb(229, 229, 229);
$color-grey-arrow: rgb(204, 204, 204);
$color-grey-background: rgb(248, 248, 248);