$font-kaushan: 'Kaushan Script', cursive;
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$color-white: #fff;
$color-pink: rgb(239, 146, 138);
$color-yellow-dark: rgb(234, 211, 131);
$color-yellow: rgb(252, 227, 138);