@import 'icons/iconfont-varible';
@import 'icons/iconfont-icon';
@import 'variables';

body {
  font-family: $font-montserrat;
}

header {
  height: 100vh;
  background: linear-gradient(rgba($color-pink, 0.8), rgba($color-yellow, 0.8)), url(../images/eagle.jpg) center no-repeat;
  background-size: cover;
}

.topic-title {
  font-size: 24px;
  font-family: $font-kaushan;
  line-height: 1.2;
  margin-bottom: 25px;
}

.topic-name {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 42px;
  text-transform: uppercase;

  &:after {
    content: '';
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 3px;
    background-color: $color-pink;
  }
}

.topic-description {
  font-size: 15px;
  font-family: $font-roboto;
  color: $color-grey;
  line-height: 1.6;
}

.topic-image {
  display: block;
  width: 100%;
  height: auto;
}

.topic-image-block-wrap {
  position: relative;
  display: block;
  max-width: 31%;
  background-color: $color-cyan;
}

.topic-image-block {
  transition: all ease 1s;

  &:hover {
    transform: translate(-10px, -10px);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(243, 129, 129, .9), rgba(252, 227, 138, .9));
    }
  }
}

.center-content {
  max-width: 1200px;
  margin: auto;
}

.half {
  width: 50%;
}

.top {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;
    text-align: center;
    color: $color-white;
  }

  &__page-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: $color-white;
  }
}

.menu {
  &__logo {
    color: $color-white;
    font-family: $font-montserrat;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.2rem;
  }

  &__links {
    position: absolute;
    left: 50%;
    display: flex;
  }

  &__navigation {
    display: inline-block;
  }

  &__navigation-link {
    font-size: 14px;
    color: $color-white;
    text-transform: uppercase;
    line-height: 1.2rem;
    margin-right: 50px;

    &:hover {
      color: $color-yellow;
      border-bottom: 3px solid $color-yellow;
      padding-bottom: 8px;
      cursor: pointer;
    }
  }

  &__activities {
    display: inline-block;
  }

  &__activity-button {
    font-size: 14px;
    color: $color-white;
    display: inline-block;
    margin-right: 60px;
  }
}

.main {
  &__title {
    font-size: 72px;
    font-family: $font-kaushan;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 65px;
    display: inline-block;
  }

  &__welcome {
    position: relative;
    font-size: 150px;
    font-weight: bold;
    line-height: 0.933;
    display: inline-block;
    margin-bottom: 80px;

    &:after {
      content: '';
      position: absolute;
      bottom: -10%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 3px;
      background-color: $color-white;
    }
  }

  &__learn {
    margin: auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    border: 3px solid $color-white;
    background: transparent;
    padding: 15px 32px;
    color: $color-white;
  }
}

.page {
  &__element {
    position: relative;
    width: 280px;
    text-align: left;
    opacity: 0.7;
    transition: all ease-in-out 3s;
    &:after {
      content: '';
      opacity: 0.7;
      position: absolute;
      top: -20px;
      width: 100%;
      left: 0;
      height: 3px;
      background: $color-white right bottom;
    }

    &:hover {
      opacity: 1;

      &:after {
        opacity: 1;
        background: linear-gradient(to left, $color-pink 100%) left bottom;
      }
    }
  }
  &__number {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
  }
  &__name {
    line-height: 1.2;
  }
}

.about-us {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: center;
  padding-top: 92px;
  color: $color-black-special;

  &__description {
    width: 80%;
    margin: 48px auto auto;
  }

  &__image-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 110px;
    margin-top: 100px;
  }

  &__image-block:hover {
    .about-us__image-icon {
      display: block;
    }
  }

  &__image-icon {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    color: $color-white;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;

    &:before {
      position: absolute;
      left: 50%;
      bottom: 150%;
    }
  }

}

.facts {
  background: $color-cyan;
  color: $color-white;

  .facts__content {
    display: flex;
    justify-content: center;
  }

  .facts__block {
    width: 240px;
    padding: 90px 0;
    text-align: center;
    border-right: 1px solid $color-white-transparent1;

    &:first-child {
      border-left: 1px solid $color-white-transparent1;
    }
  }

  .facts__number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .facts__name {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.2;
  }
}

.service {
  padding: 110px 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;

  &__name {
    margin-bottom: 80px;
  }

  &__content-line {
    display: flex;
    justify-content: space-around;

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-separator;
    }
  }
}

.service-block {
  position: relative;
  padding: 30px 50px 35px;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;

  &__title {
    display: block;
    margin-bottom: 18px;
    font-size: 14px;
    color: $color-black-special;
    text-transform: uppercase;
    line-height: 1.2;

    &:before {
      position: absolute;
      left: 0;
      font-size: 28px;
      color: $color-cyan;
    }
  }
}

.feature {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 110px;
  height: 85vh;
  background: linear-gradient($color-white-transparent2, $color-white-transparent2), url(../images/feature.jpg) center no-repeat;
  background-size: cover;
  text-align: center;

  &__image {
    margin: 52px auto auto;
    max-width: 100%;
    height: auto;
  }
}

.service2 {
  padding: 110px 0 120px 0;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__description {
    width: 80%;
    margin: 48px auto auto;
  }

  &__content {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
  }

  &__image {
    display: block;
    width: 48%;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.accordion {
  &__element {
    border: 1px solid $color-grey-separator;
  }

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__label {
    position: relative;
    font-size: 14px;
    color: $color-black-special;
    text-transform: uppercase;
    line-height: 1.2;
    cursor: pointer;
    padding: 21px 60px;
    text-align: left;
    display: flex;
    align-items: center;

    &:before {
      position: absolute;
      left: 5%;
      font-size: 30px;
      color: $color-cyan;
    }

    &:after {
      position: absolute;
      color: $color-grey-arrow;
      right: 5%;
      transition-duration: 0.5s;
    }
  }

  &__content {
    padding: 0 25px 0 20px;
  }

  &__text {
    display: block;
    max-height: 0;
    overflow-y: scroll;
    transition: max-height .5s;
    font-size: 15px;
    font-family: $font-roboto;
    color: $color-grey;
    font-style: italic;
    line-height: 1.6;
    text-align: left;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $color-grey-background;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-cyan;
      border-radius: 10px;
    }
  }

  &__input:checked + &__label:after {
    transform: rotate(180deg);
  }

  &__input:checked ~ &__content {
    border-top: 1px solid $color-grey-separator;
  }

  &__input:checked ~ &__content &__text {
    margin: 15px 0;
    max-height: 10em;
  }
}

.quote {
  background-color: $color-grey-background;

  &__content {
    position: relative;
    padding-top: 80px;
    padding-bottom: 70px;

    &:before {
      position: absolute;
      left: 1%;
      top: 50%;
      transform: rotate(-90deg) translateY(-50%);
      color: $color-grey-arrow;
    }

    &:after {
      position: absolute;
      right: 1%;
      top: 50%;
      transform: rotate(90deg) translateY(-50%);
      color: $color-grey-arrow;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin-left: 27%;
    margin-right: 6%;
  }

  &__text {
    margin-bottom: 24px;
    font-size: 24px;
    font-family: $font-roboto;
    color: $color-grey;
    font-style: italic;
    line-height: 1.5;
    text-align: left;

    &:before {
      position: absolute;
      padding: 25px 75px;
      font-style: normal;
      font-size: 64px;
      color: $color-cyan;
      left: 15%;
      transform: translateX(-50%);
      border: 3px solid $color-cyan;
    }
  }

  &__signature {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: $font-kaushan;
    color: $color-black-special;
    line-height: 1.2;
    text-align: left;

    &:before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      width: 60px;
      height: 3px;
      background-color: $color-pink;
    }
  }
}

.team {
  padding: 100px 0 120px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: center;

  &__description {
    width: 80%;
    margin: 48px auto auto;
  }

  &__image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
  }

  &__image-content {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    color: $color-white;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
  }

  &__image-block:hover {
    .team__image-content {
      display: flex;
      align-items: center;
      transform: translate(-50%, -50%);
      background-color: $color-yellow;
    }
  }

  &__image-icon {
    padding: 11px 27px;
    border-right: 1px solid $color-pink;
    color: $color-pink;
    font-size: 24px;

    &:last-child {
      border: none;
    }

    &:hover {
      color: $color-white;
      background-color: $color-pink;
    }
  }
}

.logos {
  padding: 60px;
  text-align: center;
  background-color: $color-grey-background;
}
