
  $icon-alarm: "\EA01" !default;

  $icon-arrow-up: "\EA02" !default;

  $icon-book: "\EA03" !default;

  $icon-bubbles: "\EA04" !default;

  $icon-bullseye: "\EA05" !default;

  $icon-computer-ok: "\EA06" !default;

  $icon-digital-square: "\EA07" !default;

  $icon-equalizer: "\EA08" !default;

  $icon-facebook: "\EA09" !default;

  $icon-home: "\EA0A" !default;

  $icon-instagram: "\EA0B" !default;

  $icon-line-graph: "\EA0C" !default;

  $icon-magnifying-glass: "\EA0D" !default;

  $icon-photography: "\EA0E" !default;

  $icon-picture: "\EA0F" !default;

  $icon-pinterest: "\EA10" !default;

  $icon-shopping-cart: "\EA11" !default;

  $icon-twitter: "\EA12" !default;

  $icon-users: "\EA13" !default;